@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --mangolia: #f3f3ff;
    --lavender-blue: #c5defa;
    --azureish-white: #e1f0f4;
    --peach-orange: #fbc99c;
    --onyx: #353739;
    --transition: color 0.25s, background-color 0.25s, box-shadow 0.25s,
        transform 0.2s, opacity 0.25s, left 0.25s;
}

@keyframes loading {
    from {
        background-color: rgba(255, 255, 255, 0.05);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.125);
    }
    to {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

body {
    background: rgb(252, 199, 105);
    background: radial-gradient(
        circle,
        rgba(252, 199, 105, 1) 0%,
        rgba(244, 226, 199, 1) 19%,
        rgba(151, 168, 146, 1) 63%,
        rgba(145, 195, 199, 1) 100%
    );
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

button {
    cursor: pointer;
}

/* search and units styling */

header {
    display: flex;
    margin: 1.5rem auto;
    width: 90%;
    max-width: 800px;
    padding: clamp(15px, 5%, 25px) clamp(15px, 6%, 30px);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13px);
    border-radius: 30px;
}

#search {
    display: flex;
    height: 35px;
    width: 100%;
    margin-right: 0.5rem;
}

#search input {
    height: 100%;
    width: 100%;
    padding-inline: 16px 4px;
    background: transparent;
    border: 1.5px solid var(--onyx);
    border-radius: 40px 0 0 40px;
    transition: var(--transition);
}

#search input:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

#search input:focus {
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
}

#search button {
    width: 3rem;
    padding-right: 3px;
    background: var(--peach-orange);
    border: 1.5px solid var(--onyx);
    border-radius: 0 40px 40px 0;
    transition: var(--transition);
}

#search button:hover {
    background-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
}

#search button:hover svg {
    filter: invert(79%) sepia(14%) saturate(888%) hue-rotate(342deg)
        brightness(103%) contrast(97%);
}

#search button:active {
    transform: scale(0.875);
}

#unit-toggle {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    height: 35px;
    width: 65px;
    background-color: transparent;
    border: 2px solid var(--onyx);
    border-radius: 40px;
    font-weight: 700;
}

#unit-toggle::after {
    content: '';
    height: 30px;
    width: 30px;
    background-color: var(--peach-orange);
    color: var(--onyx);
    border-radius: 40px;
    position: absolute;
    transition: var(--transition);
}

#unit-toggle:hover::after {
    opacity: 0.6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075), 0 8px 14px rgba(0, 0, 0, 0.1);
}

#unit-toggle:active::after {
    transform: scale(0.875);
}

#unit-toggle span {
    position: relative;
    z-index: 1;
}
#unit-toggle.metric::after {
    left: calc(50% - 30px);
}

#unit-toggle.imperial::after {
    left: 50%;
}

/* error page styling */

#error {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    color: var(--onyx);
    animation: fade-in 1s forwards;
}

#error #message {
    margin-bottom: 1.1rem;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
}

#error p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

#error li {
    margin-left: 0.8rem;
    margin-bottom: 0.3rem;
    color: var(--onyx);
    font-size: 1.1rem;
}

/* current weather card styling */

#current-weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--onyx);
}
/* styling the upper portion of the card */
.weather-card-top {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13px);
    border-radius: 40px 40px 4px 4px;
    width: 500px;
    padding-bottom: 1rem;
}

.weather-card-left h1 {
    color: var(--mangolia);
    margin: 3rem 0 1rem 2rem;
}

.weather-card-left p {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.weather-card-right {
    position: relative;
}

.weather-card-right .weather-icon img {
    width: 200px;
    height: 200px;
}

.weather-card-right .weather-desc {
    position: absolute;
    bottom: 0.3rem;
    left: 3rem;
    font-size: 1.5rem;
}

.weather-card-right .weather-temp {
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 2rem;
}
/* styling the lower portion of the card */
.weather-card-bottom {
    display: flex;
    width: 500px;
    margin-top: 3px;
}

.weather-card-bottom > div {
    justify-content: stretch;
    width: 100%;
    margin-inline: 3px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13px);
    border-radius: 4px;
    transition: var(--transition);
}

.weather-card-bottom > div:hover {
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
}

.weather-card-bottom > div:first-child {
    margin: 0;
    border-bottom-left-radius: 40px;
}

.weather-card-bottom > div:last-child {
    margin: 0;
    border-bottom-right-radius: 40px;
}

.weather-card-bottom > div > h3 {
    margin-bottom: 5px;
}

.weather-card-bottom > div > .container {
    display: flex;
    align-items: center;
}

.weather-card-bottom > div svg {
    margin-right: 7px;
    color: var(--mangolia);
    cursor: default;
}

.weather-card-bottom > div span {
    color: var(--azureish-white);
    font-weight: 700;
}
/* loading animation */
#current-weather-card.loading .loadable {
    color: transparent !important;
    position: relative;
}

#current-weather-card.loading .loadable::before {
    content: '';
    height: 100%;
    width: 50px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    animation: loading 1s linear infinite;
}

#current-weather-card.loading .weather-location::before {
    width: 125px;
}

#current-weather-card.loading .weather-desc::before {
    width: 200px;
}

#current-weather-card.loading .weather-temp::before {
    width: 80px;
    right: 0;
}
/* forecast weather styling */

/* forecast daily and hourly card styling */

#hourly .card,
#daily .card {
    min-width: 110px;
    margin: 4px;
    color: var(--onyx);
    transition: var(--transition);
    text-align: center;
}

#hourly .card:hover,
#daily .card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
    transform: scale(1.05);   
}

#hourly .card .hour,
#daily .card .day {
    width: 100%;
    padding-block: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13px);
    color: var(--onyx);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px 30px 4px 4px;
    transition: var(--transition);
}

#hourly .card:hover .hour,
#daily .card:hover .day {
    background-color: rgba(255, 255, 255, 0.35);
}

#hourly .card img {
    height: 70px;
    margin-block: -2px -15px;
    transition: var(--transition);
}